<ion-header [translucent]="true" >
  <ion-toolbar color="tertiary #4854e0">
    <ion-title>
      Uber estudiantil
    </ion-title>
  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-card color="tertiary #5260ff">
    <strong>Registro</strong>
      <div class="casillas">
        <input type="text" name="usuario" value="" placeholder="Usuario" >
        <input type="email" name="Correo" value="" placeholder="Correo Electronico" >
        <input type="password" name="Contraseña" value="" placeholder="Contraseña" >  
        <div>
          <input type="submit" name="" value="Ingresar"> 
        </div>   
      </div>
    <p>¿ya tienes una cuenta?<a  href="registro.page.html" >Login</a></p>
    </ion-card>
  </div>
</ion-content>