<ion-header>
  <ion-toolbar color="primary">
    <ion-title id="interfazP">
      <img src="assets/icon/logoduoc.png" width="40" height="40" alt="" loading="lazy">
      TeLlevoAPP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <div id="cuerpo">
    <img src="assets/icon/principal.jpg" width="360" height="400" alt="" loading="lazy">
  </div>
  <ion-card>
    <div id="info">
      Bienvenido a TeLlevoAPP, nosotros TeLlevoAPP somos estudiantes de ingeniería en informática de duoc uc que facilita encontrar transporte con otros 
      estudiantes que posean movilidad propia, para que sean más seguros y confiables a través de nuestra aplicación.
      así los estudiantes que posean movilidad propia puedan tener un ingreso para su bolsillo y a su vez los estudiantes de la jornada
      vespertina, no se demoren tanto en llegar a casa por falta de transporte.
    
    </div>
  </ion-card>
</ion-content>
